%link {
  text-decoration: none;
}

%text-0 {
  visibility: hidden;
  font-size: 0;

  &:before,
  &:after {
    visibility: visible;
  }
}

%pre {
  font-family: $font-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 1.71429rem;
  line-height: 101.5%;
  letter-spacing: 0.185em;
  color: #9B9B9B;

  @include media("<phone") {
    font-size: 1.3rem;
  }
}

%text-xs {
  font-family: $font-sans;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 101.5%;
  color: #FFFFFF;

  @include media("<phone") {
    font-size: 1.6rem;
  }
}

%text-s {
  font-family: $font-sans;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 101.5%;
  color: #FFFFFF;

  @include media("<phone") {
    font-size: 1.2rem;
  }
}

%text {
  font-family: $font-sans;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 101.5%;
  color: #FFFFFF;

  @include media("<phone") {
    font-size: 1.5rem;
  }
}

%icon {
  font-family: $font-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 7rem;
  line-height: 99%;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #FFFFFF;

  @include media("<phone") {
    font-size: 2.7rem;
  }
}

%h1 {
  font-family: $font-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 53rem;
  line-height: 68.4rem;
  letter-spacing: -0.08em;
  color: #FFFFFF;

  @include media("<phone") {
    font-size: 13.9474rem;
    line-height: 18rem;
  }
}

%h2 {
  font-family: $font-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20.0877rem;
  line-height: 99%;
  letter-spacing: -0.08em;
  text-transform: lowercase;
  color: #FFFFFF;

  @include media("<phone") {
    font-size: 6.5rem;
  }
}

%h3 {
  font-family: $font-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  // line-height: 5rem;
  line-height: 110%;
  letter-spacing: -0.08em;
  color: #DDD100;
  text-transform: uppercase;

  @include media("<phone") {
    font-size: 3rem;
    // line-height: 99%;
    line-height: 112.5%;
  }
}

%h4 {
  font-family: $font-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.02724rem;
  line-height: 99%;
  letter-spacing: -0.08em;
  text-transform: lowercase;
  color: #DDD100;

  @include media("<phone") {
    font-size: 1.6rem;
  }
}