extends ../base.pug 

block variables
  - var template = "home"

block content 
  main.home
    .home__wrapper

      .home__header 
        .home__header__wrapper 
          figure.home__header__icon
            img(src="images/logo.svg", alt="", srcset="")

      .home__hero
        .home__hero__wrapper
          h1.home__hero__title INSPIRES

      .home__body
        .home__body__wrapper

          .home__body__segment
            h3.home__body__title
              | a partner for creators to unleash their full potential.
            p.home__body__text 
              | Get ready to ignite your creativity and inspire the world with your content! At Inspires, we are EXCITED to support you on your journey to greatness. With our unbeatable combination of cutting-edge technology and expert marketing strategies, you'll have everything you need to reach your full potential and inspire others with your content like never before!
            figure.home__body__media 
              img(src="images/img1.png", alt="")
            figure.home__body__media 
              img(src="images/img2.png", alt="")
            figure.home__body__media
              img(src="images/img3.png", alt="")
            figure.home__body__media 
              img(src="images/img1mobile.png", alt="")
            figure.home__body__media 
              img(src="images/img2mobile.png", alt="")
            figure.home__body__media 
              img(src="images/img3mobile.png", alt="")
            svg.home__body__thread(width="760" height="845" viewBox="0 0 760 845" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M3 3C83.3141 3 166.118 4.15244 237.667 45.8889C270.832 65.2355 302.38 93.8706 315.444 131C327.91 166.428 320.598 205.734 328.778 242.111C344.413 311.645 411.81 350.37 473 302.778C532.639 256.392 588.886 164.168 601.222 88.7778C612.589 19.3162 518.943 36.7814 479.667 55.8889C417.793 85.9896 407.707 152.449 407 215C406.423 266.081 395.456 340.952 428.111 384.778C473.386 445.542 553.572 458.347 622.778 469.222C742.838 488.089 764.27 653.13 755 752.778C751.104 794.655 742.502 819.593 703.222 836.778C674.42 849.379 631.871 835 603 835" stroke="#DDD100" stroke-width="5" stroke-linecap="round")
            svg.home__body__thread(width="760" height="845" viewBox="0 0 760 845" fill="none" xmlns="http://www.w3.org/2000/svg")
              path#pathA(d="M3 3C83.3141 3 166.118 4.15244 237.667 45.8889C270.832 65.2355 302.38 93.8706 315.444 131C327.91 166.428 320.598 205.734 328.778 242.111C344.413 311.645 411.81 350.37 473 302.778C532.639 256.392 588.886 164.168 601.222 88.7778C612.589 19.3162 518.943 36.7814 479.667 55.8889C417.793 85.9896 407.707 152.449 407 215C406.423 266.081 395.456 340.952 428.111 384.778C473.386 445.542 553.572 458.347 622.778 469.222C742.838 488.089 764.27 653.13 755 752.778C751.104 794.655 742.502 819.593 703.222 836.778C674.42 849.379 631.871 835 603 835" stroke="#DDD100" stroke-width="5" stroke-linecap="round")
            svg.home__body__directive(width="129" height="129" viewBox="0 0 129 129" fill="none" xmlns="http://www.w3.org/2000/svg")
              circle(cx="64.1864" cy="64.3555" r="44.8304" transform="rotate(135 64.1864 64.3555)" stroke="#DDD100" stroke-width="0.948792")
              circle(cx="64.1864" cy="64.02" r="31.3101" transform="rotate(135 64.1864 64.02)" stroke="#DDD100" stroke-width="0.948792")
              g(clip-path="url(#clip0_10_93)")
                path(d="M77.6504 64.02L75.4217 61.7914L65.8496 71.3635L65.8496 49.9906H62.7071L62.7071 71.3635L53.135 61.7914L50.9063 64.02L64.2784 77.392L77.6504 64.02Z" fill="white")
              defs
                clipPath(id="clip0_10_93")
                  rect(width="37.8218" height="37.8218" fill="white" transform="translate(91.0223 64.02) rotate(135)")



          .home__body__segment
            p.home__body__pre OUR VISION
            h3.home__body__title
              | Shaping the Future of Content Creation
            p.home__body__text 
              | Our vision is to revolutionize the way creators approach content creation, by providing them with the resources they need to succeed and make their mark on the world. We are dedicated to staying at the forefront of the industry, and to constantly improving our services so that we can help creators achieve their goals and inspire others with their work.
            figure.home__body__media 
              img(src="images/img4.png", alt="")
            figure.home__body__media 
              img(src="images/img5.png", alt="")
            svg.home__body__thread(width="463" height="608" viewBox="0 0 463 608" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M282.26 2.58594C250.989 4.67067 223.058 26.7522 200.755 46.9424C162.848 81.2575 130.148 124.288 120.728 175.576C98.1052 298.745 260.555 304.484 343.62 323.986C382.456 333.104 424.887 346.638 447.118 382.573C464.069 409.973 464.666 445.618 448.781 473.504C400.702 557.911 294.514 578.112 206.484 578.112C154.816 578.112 104.161 570.56 54.3782 581.623C38.1358 585.233 17.3841 597.44 2.81372 604.725" stroke="#DDD100" stroke-width="5" stroke-linecap="round")
            svg.home__body__thread(width="463" height="608" viewBox="0 0 463 608" fill="none" xmlns="http://www.w3.org/2000/svg")
              path#pathB(d="M282.26 2.58594C250.989 4.67067 223.058 26.7522 200.755 46.9424C162.848 81.2575 130.148 124.288 120.728 175.576C98.1052 298.745 260.555 304.484 343.62 323.986C382.456 333.104 424.887 346.638 447.118 382.573C464.069 409.973 464.666 445.618 448.781 473.504C400.702 557.911 294.514 578.112 206.484 578.112C154.816 578.112 104.161 570.56 54.3782 581.623C38.1358 585.233 17.3841 597.44 2.81372 604.725" stroke="#DDD100" stroke-width="5" stroke-linecap="round")

          .home__body__segment
            p.home__body__pre OUR MISSION
            h3.home__body__title
              | Empowering Creators to Inspire the World
            p.home__body__text 
              span 
                | At Inspires, our mission is to empower creators to reach their full potential and 
              span inspire 
              span 
                | the world with their unique content. We believe that everyone has the power to create something truly special and impactful, and we are dedicated to providing the tools and support needed to bring those creative visions to life.
            figure.home__body__media
              img(src="images/img6.png", alt="")

      .home__services
        .home__services__wrapper 
          h2.home__services__title OUR SERVICES

          .home__services__grid
            .home__service
              b.home__service__icon 📝
              h4.home__service__title Lead Funnels
              p.home__service__text
                | Attract and convert more leads into paying customers with our proven strategies.
            .home__service
              b.home__service__icon 🤖
              h4.home__service__title Course Management/ Automation
              p.home__service__text
                | Effortlessly create and manage your content with our advanced tools and resources.
            .home__service
              b.home__service__icon 🤝
              h4.home__service__title Networking Development
              p.home__service__text
                | Build meaningful connections with other creators and grow your brand.
            .home__service
              b.home__service__icon 🤑
              h4.home__service__title Luxury Content
              p.home__service__text
                | Create content that sets you apart from the competition and resonates with your audience.
            .home__service
              b.home__service__icon 👩🏾‍💻
              h4.home__service__title Lead Website Creation
              p.home__service__text
                | Get a website that not only looks great, but also drives sales.
            .home__service
              b.home__service__icon 💬
              h4.home__service__title Sales/DM Management
              p.home__service__text
                | Manage your sales and DMs with ease using our streamlined tools and expert resources.
            .home__service
              b.home__service__icon 👥
              h4.home__service__title TikTok Brand Building
              p.home__service__text
                | Elevate your TikTok presence with our comprehensive brand building services.
          
      .home__outro 
        .home__outro__wrapper 
          h3.home__outro__title
            span GET 
            span IN 
            span TOUCH 
          p.home__outro__text Have a question or want to learn more about how Inspires can help you reach your goals? We'd love to hear from you!
          svg.home__outro__thread(width="285" height="388" viewBox="0 0 285 388" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M282.501 245.751C269.357 243.361 255.43 230.459 244.306 223.876C219.485 209.185 193.571 195.693 172.258 175.959C150.643 155.945 206.333 164.5 218.612 164.5C222.309 164.5 231.993 166.344 224.167 163.111C190.268 149.11 162.696 125.08 133.542 103.389C60.2139 48.8328 -12.2314 6.03342 -105 2" stroke="#DDD100" stroke-width="3" stroke-linecap="round")
            path(d="M-67.4999 383.251C-70.9576 379.793 -66.2301 382.787 -63.6805 383.251C-42.9136 387.026 -21.9965 386.683 -2.04839 379.084C21.357 370.168 40.1943 353.457 59.2365 337.764C72.2209 327.064 86.2897 312.764 104.375 312.764C138.674 312.764 155.86 354.431 191.355 354.431C214.942 354.431 232.455 322.18 248.126 308.25" stroke="white" stroke-width="3" stroke-linecap="round")
          svg.home__outro__thread(width="280" height="688" viewBox="0 0 280 688" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M3 383.251C50.9935 352.287 97.2755 318.599 143.973 285.681C149.057 282.097 162.906 268.622 170.361 269.014C171.858 269.093 174.046 286.612 174.875 288.806C193.234 337.404 262.435 244.177 273.14 231.167C316.785 178.121 359.351 123.763 410.987 78.0418C457.766 36.6215 503.712 18.5791 562.376 2" stroke="white" stroke-width="3" stroke-linecap="round")
            path(d="M2 486C35.5028 486 68.0446 485.888 99.9169 497.806C108.968 501.19 120.048 504.986 125.091 513.951C126.632 516.692 123.516 521.582 126.132 523.327C133.759 528.411 163.811 523.465 171.792 523.5C211.382 523.674 251.875 523.338 290.369 533.917C329.998 544.807 361.988 568.915 394.015 593.639C436.366 626.334 479.035 656.854 523.876 686.001" stroke="#DDD100" stroke-width="3" stroke-linecap="round")
          ul.home__outro__icons 
            li.home__outro__icon 
              a.home__outro__link(href="http://instagram.com", target="_blank", rel="noopener noreferrer") 
                figure.home__outro__media
                  svg.home__outro__svg(width="99" height="99" viewBox="0 0 99 99" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M49.5 26.6797C44.9866 26.6797 40.5745 28.0181 36.8217 30.5256C33.0689 33.0331 30.144 36.5972 28.4168 40.767C26.6896 44.9369 26.2376 49.5253 27.1182 53.952C27.9987 58.3787 30.1721 62.4449 33.3636 65.6364C36.5551 68.8279 40.6213 71.0013 45.048 71.8818C49.4747 72.7624 54.0631 72.3104 58.233 70.5832C62.4028 68.856 65.9669 65.9311 68.4744 62.1783C70.9819 58.4255 72.3203 54.0134 72.3203 49.5C72.3203 43.4477 69.916 37.6432 65.6364 33.3636C61.3568 29.084 55.5523 26.6797 49.5 26.6797ZM49.5 66.3672C46.164 66.3672 42.9029 65.3779 40.1291 63.5246C37.3553 61.6712 35.1934 59.0369 33.9168 55.9548C32.6401 52.8727 32.3061 49.4813 32.9569 46.2094C33.6077 42.9375 35.2142 39.932 37.5731 37.5731C39.932 35.2142 42.9375 33.6077 46.2094 32.9569C49.4813 32.3061 52.8727 32.6401 55.9548 33.9168C59.0369 35.1934 61.6712 37.3553 63.5246 40.1291C65.3779 42.9029 66.3672 46.164 66.3672 49.5C66.3541 53.9694 64.5728 58.2521 61.4124 61.4124C58.2521 64.5728 53.9694 66.3541 49.5 66.3672ZM71.3281 0.882812H27.6719C20.567 0.882812 13.7531 3.70522 8.72915 8.72915C3.70522 13.7531 0.882813 20.567 0.882812 27.6719V71.3281C0.882812 78.433 3.70522 85.2469 8.72915 90.2709C13.7531 95.2948 20.567 98.1172 27.6719 98.1172H71.3281C78.433 98.1172 85.2469 95.2948 90.2709 90.2709C95.2948 85.2469 98.1172 78.433 98.1172 71.3281V27.6719C98.1172 20.567 95.2948 13.7531 90.2709 8.72915C85.2469 3.70522 78.433 0.882813 71.3281 0.882812ZM92.1641 71.3281C92.1641 76.8542 89.9689 82.1539 86.0614 86.0614C82.1539 89.9689 76.8542 92.1641 71.3281 92.1641H27.6719C22.1458 92.1641 16.8461 89.9689 12.9386 86.0614C9.03115 82.1539 6.83594 76.8542 6.83594 71.3281V27.6719C6.83594 22.1458 9.03115 16.8461 12.9386 12.9386C16.8461 9.03115 22.1458 6.83594 27.6719 6.83594H71.3281C76.8542 6.83594 82.1539 9.03115 86.0614 12.9386C89.9689 16.8461 92.1641 22.1458 92.1641 27.6719V71.3281ZM80.2578 23.7031C80.2578 24.6843 79.9669 25.6435 79.4217 26.4593C78.8766 27.2751 78.1018 27.9109 77.1953 28.2864C76.2888 28.6619 75.2914 28.7602 74.329 28.5687C73.3667 28.3773 72.4828 27.9048 71.789 27.211C71.0952 26.5172 70.6227 25.6333 70.4313 24.671C70.2398 23.7086 70.3381 22.7111 70.7136 21.8047C71.089 20.8982 71.7249 20.1234 72.5407 19.5783C73.3565 19.0331 74.3157 18.7422 75.2969 18.7422C76.6126 18.7422 77.8744 19.2649 78.8048 20.1952C79.7351 21.1256 80.2578 22.3874 80.2578 23.7031Z" fill="white")
                  svg.home__outro__svg(width="99" height="99" viewBox="0 0 99 99" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M49.5 26.6797C44.9866 26.6797 40.5745 28.0181 36.8217 30.5256C33.0689 33.0331 30.144 36.5972 28.4168 40.767C26.6896 44.9369 26.2376 49.5253 27.1182 53.952C27.9987 58.3787 30.1721 62.4449 33.3636 65.6364C36.5551 68.8279 40.6213 71.0013 45.048 71.8818C49.4747 72.7624 54.0631 72.3104 58.233 70.5832C62.4028 68.856 65.9669 65.9311 68.4744 62.1783C70.9819 58.4255 72.3203 54.0134 72.3203 49.5C72.3203 43.4477 69.916 37.6432 65.6364 33.3636C61.3568 29.084 55.5523 26.6797 49.5 26.6797ZM49.5 66.3672C46.164 66.3672 42.9029 65.3779 40.1291 63.5246C37.3553 61.6712 35.1934 59.0369 33.9168 55.9548C32.6401 52.8727 32.3061 49.4813 32.9569 46.2094C33.6077 42.9375 35.2142 39.932 37.5731 37.5731C39.932 35.2142 42.9375 33.6077 46.2094 32.9569C49.4813 32.3061 52.8727 32.6401 55.9548 33.9168C59.0369 35.1934 61.6712 37.3553 63.5246 40.1291C65.3779 42.9029 66.3672 46.164 66.3672 49.5C66.3541 53.9694 64.5728 58.2521 61.4124 61.4124C58.2521 64.5728 53.9694 66.3541 49.5 66.3672ZM71.3281 0.882812H27.6719C20.567 0.882812 13.7531 3.70522 8.72915 8.72915C3.70522 13.7531 0.882813 20.567 0.882812 27.6719V71.3281C0.882812 78.433 3.70522 85.2469 8.72915 90.2709C13.7531 95.2948 20.567 98.1172 27.6719 98.1172H71.3281C78.433 98.1172 85.2469 95.2948 90.2709 90.2709C95.2948 85.2469 98.1172 78.433 98.1172 71.3281V27.6719C98.1172 20.567 95.2948 13.7531 90.2709 8.72915C85.2469 3.70522 78.433 0.882813 71.3281 0.882812ZM92.1641 71.3281C92.1641 76.8542 89.9689 82.1539 86.0614 86.0614C82.1539 89.9689 76.8542 92.1641 71.3281 92.1641H27.6719C22.1458 92.1641 16.8461 89.9689 12.9386 86.0614C9.03115 82.1539 6.83594 76.8542 6.83594 71.3281V27.6719C6.83594 22.1458 9.03115 16.8461 12.9386 12.9386C16.8461 9.03115 22.1458 6.83594 27.6719 6.83594H71.3281C76.8542 6.83594 82.1539 9.03115 86.0614 12.9386C89.9689 16.8461 92.1641 22.1458 92.1641 27.6719V71.3281ZM80.2578 23.7031C80.2578 24.6843 79.9669 25.6435 79.4217 26.4593C78.8766 27.2751 78.1018 27.9109 77.1953 28.2864C76.2888 28.6619 75.2914 28.7602 74.329 28.5687C73.3667 28.3773 72.4828 27.9048 71.789 27.211C71.0952 26.5172 70.6227 25.6333 70.4313 24.671C70.2398 23.7086 70.3381 22.7111 70.7136 21.8047C71.089 20.8982 71.7249 20.1234 72.5407 19.5783C73.3565 19.0331 74.3157 18.7422 75.2969 18.7422C76.6126 18.7422 77.8744 19.2649 78.8048 20.1952C79.7351 21.1256 80.2578 22.3874 80.2578 23.7031Z" fill="white")
                    <radialGradient id="rg" r="150%" cx="30%" cy="107%">
                      <stop stop-color="#fdf497" offset="0" />
                      <stop stop-color="#fdf497" offset="0.05" />
                      <stop stop-color="#fd5949" offset="0.45" />
                      <stop stop-color="#d6249f" offset="0.6" />
                      <stop stop-color="#285AEB" offset="0.9" />
                    </radialGradient>

            li.home__outro__icon 
              a.home__outro__link(href="http://t.me/NoahWoodfinee", target="_blank", rel="noopener noreferrer") 
                figure.home__outro__media
                  svg.home__outro__svg(width="113" height="102" viewBox="0 0 113 102" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M109.126 2.63181C107.984 1.68605 106.609 1.06668 105.144 0.839368C103.68 0.612054 102.181 0.785267 100.807 1.34064L5.99623 39.6153C4.46413 40.2449 3.15976 41.3256 2.25627 42.7139C1.35278 44.1022 0.892896 45.7324 0.937678 47.3882C0.982461 49.0441 1.52979 50.6471 2.507 51.9845C3.48422 53.322 4.84509 54.3306 6.40898 54.8764L26.8666 61.9778L37.9526 98.6279C37.9738 98.702 38.0426 98.7496 38.0743 98.8184C38.1885 99.1108 38.3553 99.3799 38.5664 99.6122C38.8872 99.9704 39.3013 100.232 39.7624 100.369C39.8153 100.39 39.8523 100.438 39.9052 100.448H39.937L39.9529 100.454C40.3622 100.542 40.7876 100.52 41.1858 100.39C41.2281 100.379 41.2705 100.379 41.3181 100.364C41.7004 100.229 42.0464 100.008 42.3288 99.718C42.3606 99.681 42.4135 99.6757 42.4452 99.6439L58.389 82.0438L81.6565 100.062C83.0694 101.168 84.8103 101.766 86.6042 101.766C90.4883 101.766 93.8379 99.046 94.6369 95.2518L111.898 10.4899C112.191 9.05099 112.088 7.55956 111.6 6.17471C111.111 4.78986 110.256 3.56353 109.126 2.62652V2.63181ZM43.7364 68.9364L39.9952 87.1239L32.19 61.3111L70.8985 41.1498L44.4561 67.5976C44.0899 67.9635 43.8396 68.4291 43.7364 68.9364ZM89.4511 94.1882C89.3518 94.6681 89.1307 95.1143 88.8091 95.484C88.4876 95.8538 88.0763 96.1346 87.6149 96.2996C87.1647 96.4729 86.6772 96.5259 86.2003 96.4535C85.7233 96.3812 85.2735 96.1859 84.895 95.8869L59.6908 76.3659C59.1639 75.9592 58.5031 75.766 57.8401 75.8248C57.1771 75.8836 56.5606 76.1902 56.1136 76.6834L45.017 88.9124L48.7529 70.7779L86.7947 32.7308C87.2402 32.2838 87.5113 31.6924 87.559 31.0631C87.6067 30.4338 87.4279 29.8082 87.0549 29.2992C86.6819 28.7901 86.1393 28.4312 85.5249 28.2871C84.9105 28.143 84.2648 28.2232 83.7044 28.5134L28.8668 57.0778L8.13935 49.8705C7.58978 49.689 7.11046 49.3407 6.76807 48.8741C6.42569 48.4075 6.23728 47.8457 6.22906 47.267C6.20269 46.6832 6.35868 46.1056 6.67538 45.6145C6.99209 45.1233 7.4538 44.7429 7.99648 44.5259L102.791 6.25131C103.277 6.04492 103.811 5.97817 104.333 6.05857C104.854 6.13896 105.343 6.36332 105.744 6.70639C106.143 7.02912 106.444 7.45636 106.614 7.94039C106.784 8.42443 106.817 8.94621 106.707 9.44748L89.4511 94.1935V94.1882Z" fill="white")
                  svg.home__outro__svg(width="113" height="102" viewBox="0 0 113 102" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M109.126 2.63181C107.984 1.68605 106.609 1.06668 105.144 0.839368C103.68 0.612054 102.181 0.785267 100.807 1.34064L5.99623 39.6153C4.46413 40.2449 3.15976 41.3256 2.25627 42.7139C1.35278 44.1022 0.892896 45.7324 0.937678 47.3882C0.982461 49.0441 1.52979 50.6471 2.507 51.9845C3.48422 53.322 4.84509 54.3306 6.40898 54.8764L26.8666 61.9778L37.9526 98.6279C37.9738 98.702 38.0426 98.7496 38.0743 98.8184C38.1885 99.1108 38.3553 99.3799 38.5664 99.6122C38.8872 99.9704 39.3013 100.232 39.7624 100.369C39.8153 100.39 39.8523 100.438 39.9052 100.448H39.937L39.9529 100.454C40.3622 100.542 40.7876 100.52 41.1858 100.39C41.2281 100.379 41.2705 100.379 41.3181 100.364C41.7004 100.229 42.0464 100.008 42.3288 99.718C42.3606 99.681 42.4135 99.6757 42.4452 99.6439L58.389 82.0438L81.6565 100.062C83.0694 101.168 84.8103 101.766 86.6042 101.766C90.4883 101.766 93.8379 99.046 94.6369 95.2518L111.898 10.4899C112.191 9.05099 112.088 7.55956 111.6 6.17471C111.111 4.78986 110.256 3.56353 109.126 2.62652V2.63181ZM43.7364 68.9364L39.9952 87.1239L32.19 61.3111L70.8985 41.1498L44.4561 67.5976C44.0899 67.9635 43.8396 68.4291 43.7364 68.9364ZM89.4511 94.1882C89.3518 94.6681 89.1307 95.1143 88.8091 95.484C88.4876 95.8538 88.0763 96.1346 87.6149 96.2996C87.1647 96.4729 86.6772 96.5259 86.2003 96.4535C85.7233 96.3812 85.2735 96.1859 84.895 95.8869L59.6908 76.3659C59.1639 75.9592 58.5031 75.766 57.8401 75.8248C57.1771 75.8836 56.5606 76.1902 56.1136 76.6834L45.017 88.9124L48.7529 70.7779L86.7947 32.7308C87.2402 32.2838 87.5113 31.6924 87.559 31.0631C87.6067 30.4338 87.4279 29.8082 87.0549 29.2992C86.6819 28.7901 86.1393 28.4312 85.5249 28.2871C84.9105 28.143 84.2648 28.2232 83.7044 28.5134L28.8668 57.0778L8.13935 49.8705C7.58978 49.689 7.11046 49.3407 6.76807 48.8741C6.42569 48.4075 6.23728 47.8457 6.22906 47.267C6.20269 46.6832 6.35868 46.1056 6.67538 45.6145C6.99209 45.1233 7.4538 44.7429 7.99648 44.5259L102.791 6.25131C103.277 6.04492 103.811 5.97817 104.333 6.05857C104.854 6.13896 105.343 6.36332 105.744 6.70639C106.143 7.02912 106.444 7.45636 106.614 7.94039C106.784 8.42443 106.817 8.94621 106.707 9.44748L89.4511 94.1935V94.1882Z" fill="white")

            li.home__outro__icon 
              a.home__outro__link(href="http://twitter.com/NoahWoodfine?s=20", target="_blank", rel="noopener noreferrer") 
                figure.home__outro__media
                  svg.home__outro__svg(width="113" height="95" viewBox="0 0 113 95" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M112.062 4.9912C112.062 4.5242 111.939 4.06554 111.704 3.66181C111.469 3.25809 111.132 2.92368 110.726 2.69256C110.32 2.46144 109.86 2.34185 109.394 2.34593C108.927 2.35 108.469 2.47761 108.067 2.71578C104.343 4.93346 100.298 6.5614 96.0763 7.54178C91.4623 3.13658 85.3211 0.689988 78.9419 0.71553C75.4771 0.72045 72.051 1.44454 68.8805 2.84196C65.7099 4.23939 62.864 6.27973 60.5227 8.83386C58.1815 11.388 56.3959 14.4003 55.279 17.6802C54.1621 20.9601 53.7382 24.4361 54.034 27.8882C38.038 26.1882 23.361 18.2383 13.1982 5.76907C12.927 5.43781 12.5794 5.17732 12.1853 5.00997C11.7912 4.84262 11.3624 4.7734 10.9357 4.80827C10.5089 4.84314 10.097 4.98104 9.73534 5.21015C9.37365 5.43925 9.07295 5.75271 8.85907 6.12361C6.66367 9.95209 5.50884 14.2886 5.50945 18.7019C5.50298 23.5456 6.90384 28.2868 9.5417 32.3491L9.2242 32.1745C8.8096 31.971 8.34926 31.8786 7.88824 31.9064C7.42723 31.9343 6.98134 32.0813 6.59424 32.3332C6.1909 32.5955 5.85986 32.9548 5.6315 33.3783C5.40313 33.8017 5.28475 34.2757 5.2872 34.7568C5.26603 35.3812 5.30307 36.011 5.40361 36.6248C5.65371 40.1185 6.64018 43.5197 8.29821 46.605C9.95625 49.6904 12.2483 52.39 15.0239 54.5265C14.6856 54.6261 14.3706 54.7923 14.0975 55.0154C13.8244 55.2385 13.5986 55.5139 13.4334 55.8255C13.2683 56.137 13.1671 56.4785 13.1358 56.8297C13.1045 57.181 13.1437 57.535 13.2512 57.8708C14.4736 61.6824 16.5971 65.1429 19.4417 67.959C22.2864 70.775 25.7681 72.8636 29.5918 74.0474C21.7839 78.4187 12.7914 80.2028 3.90607 79.1433C3.31066 79.0689 2.70761 79.199 2.1959 79.5124C1.68418 79.8258 1.29419 80.3038 1.08992 80.868C0.885643 81.4322 0.879223 82.0491 1.07171 82.6174C1.2642 83.1858 1.64416 83.6718 2.14924 83.9958C12.7826 90.8425 25.1628 94.4818 37.8098 94.4786C52.1564 94.637 66.1533 90.0503 77.6237 81.4317C89.0941 72.8131 97.3951 60.6457 101.236 46.8218C103.03 40.8052 103.945 34.5557 103.956 28.2745C103.956 27.6395 103.956 26.9781 103.94 26.306C106.692 23.5076 108.835 20.1694 110.233 16.5019C111.631 12.8343 112.254 8.91154 112.062 4.9912ZM99.2354 23.6867C98.8008 24.2006 98.5793 24.8614 98.6163 25.5334C98.9055 32.2228 98.0756 38.9135 96.161 45.3296C92.7458 58.1154 85.1399 69.3859 74.5609 77.3372C63.9818 85.2886 51.041 89.4611 37.8098 89.1869C29.7348 89.1872 21.7413 87.5734 14.2989 84.4403C23.0456 83.4699 31.343 80.0592 38.2437 74.5978C38.673 74.2603 38.9874 73.7982 39.1437 73.2749C39.3 72.7516 39.2905 72.1928 39.1166 71.6751C38.9427 71.1575 38.6128 70.7063 38.1723 70.3835C37.7318 70.0607 37.2022 69.8822 36.6562 69.8723C33.2693 69.8172 29.9543 68.8867 27.0334 67.1713C24.1126 65.4559 21.6852 63.0139 19.9874 60.0827C22.2364 60.088 24.4695 59.7811 26.6232 59.162C27.1908 58.9956 27.6863 58.6439 28.0306 58.1629C28.3749 57.6819 28.5481 57.0994 28.5225 56.5085C28.4969 55.9175 28.274 55.3522 27.8895 54.9028C27.5049 54.4533 26.9808 54.1457 26.4009 54.0291C22.6131 53.2711 19.1335 51.4113 16.3987 48.6831C13.6639 45.9549 11.7958 42.4798 11.0287 38.6938C13.2759 39.4226 15.6152 39.8288 17.9766 39.9003C18.5584 39.9434 19.137 39.7819 19.6123 39.4437C20.0877 39.1056 20.43 38.612 20.5801 38.0482C20.753 37.501 20.7432 36.9124 20.5523 36.3712C20.3614 35.83 19.9997 35.3655 19.5218 35.0479C16.8296 33.2559 14.6238 30.8242 13.1019 27.9706C11.58 25.1171 10.7895 21.9306 10.8011 18.6966C10.8011 16.5112 11.1557 14.3416 11.8594 12.2778C23.5912 24.9462 39.8068 32.5318 57.0503 33.418C57.4623 33.4621 57.8786 33.3979 58.2582 33.2318C58.6377 33.0656 58.9674 32.8034 59.2146 32.4708C59.477 32.1563 59.6628 31.7852 59.7574 31.3867C59.852 30.9882 59.8527 30.5731 59.7596 30.1742C59.4103 28.7147 59.2328 27.2194 59.2304 25.7187C59.236 20.493 61.3137 15.4828 65.0078 11.7867C68.7019 8.09064 73.711 6.01031 78.9366 6.00191C81.6283 5.99425 84.2924 6.54471 86.7606 7.61853C89.2289 8.69236 91.4477 10.2662 93.277 12.2408C93.5843 12.5685 93.97 12.8124 94.3978 12.9495C94.8256 13.0865 95.2813 13.1121 95.7218 13.0239C99.4769 12.2846 103.128 11.0923 106.596 9.47324C105.695 14.8671 103.123 19.8401 99.2354 23.6867Z" fill="white")
                  svg.home__outro__svg(width="113" height="95" viewBox="0 0 113 95" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M112.062 4.9912C112.062 4.5242 111.939 4.06554 111.704 3.66181C111.469 3.25809 111.132 2.92368 110.726 2.69256C110.32 2.46144 109.86 2.34185 109.394 2.34593C108.927 2.35 108.469 2.47761 108.067 2.71578C104.343 4.93346 100.298 6.5614 96.0763 7.54178C91.4623 3.13658 85.3211 0.689988 78.9419 0.71553C75.4771 0.72045 72.051 1.44454 68.8805 2.84196C65.7099 4.23939 62.864 6.27973 60.5227 8.83386C58.1815 11.388 56.3959 14.4003 55.279 17.6802C54.1621 20.9601 53.7382 24.4361 54.034 27.8882C38.038 26.1882 23.361 18.2383 13.1982 5.76907C12.927 5.43781 12.5794 5.17732 12.1853 5.00997C11.7912 4.84262 11.3624 4.7734 10.9357 4.80827C10.5089 4.84314 10.097 4.98104 9.73534 5.21015C9.37365 5.43925 9.07295 5.75271 8.85907 6.12361C6.66367 9.95209 5.50884 14.2886 5.50945 18.7019C5.50298 23.5456 6.90384 28.2868 9.5417 32.3491L9.2242 32.1745C8.8096 31.971 8.34926 31.8786 7.88824 31.9064C7.42723 31.9343 6.98134 32.0813 6.59424 32.3332C6.1909 32.5955 5.85986 32.9548 5.6315 33.3783C5.40313 33.8017 5.28475 34.2757 5.2872 34.7568C5.26603 35.3812 5.30307 36.011 5.40361 36.6248C5.65371 40.1185 6.64018 43.5197 8.29821 46.605C9.95625 49.6904 12.2483 52.39 15.0239 54.5265C14.6856 54.6261 14.3706 54.7923 14.0975 55.0154C13.8244 55.2385 13.5986 55.5139 13.4334 55.8255C13.2683 56.137 13.1671 56.4785 13.1358 56.8297C13.1045 57.181 13.1437 57.535 13.2512 57.8708C14.4736 61.6824 16.5971 65.1429 19.4417 67.959C22.2864 70.775 25.7681 72.8636 29.5918 74.0474C21.7839 78.4187 12.7914 80.2028 3.90607 79.1433C3.31066 79.0689 2.70761 79.199 2.1959 79.5124C1.68418 79.8258 1.29419 80.3038 1.08992 80.868C0.885643 81.4322 0.879223 82.0491 1.07171 82.6174C1.2642 83.1858 1.64416 83.6718 2.14924 83.9958C12.7826 90.8425 25.1628 94.4818 37.8098 94.4786C52.1564 94.637 66.1533 90.0503 77.6237 81.4317C89.0941 72.8131 97.3951 60.6457 101.236 46.8218C103.03 40.8052 103.945 34.5557 103.956 28.2745C103.956 27.6395 103.956 26.9781 103.94 26.306C106.692 23.5076 108.835 20.1694 110.233 16.5019C111.631 12.8343 112.254 8.91154 112.062 4.9912ZM99.2354 23.6867C98.8008 24.2006 98.5793 24.8614 98.6163 25.5334C98.9055 32.2228 98.0756 38.9135 96.161 45.3296C92.7458 58.1154 85.1399 69.3859 74.5609 77.3372C63.9818 85.2886 51.041 89.4611 37.8098 89.1869C29.7348 89.1872 21.7413 87.5734 14.2989 84.4403C23.0456 83.4699 31.343 80.0592 38.2437 74.5978C38.673 74.2603 38.9874 73.7982 39.1437 73.2749C39.3 72.7516 39.2905 72.1928 39.1166 71.6751C38.9427 71.1575 38.6128 70.7063 38.1723 70.3835C37.7318 70.0607 37.2022 69.8822 36.6562 69.8723C33.2693 69.8172 29.9543 68.8867 27.0334 67.1713C24.1126 65.4559 21.6852 63.0139 19.9874 60.0827C22.2364 60.088 24.4695 59.7811 26.6232 59.162C27.1908 58.9956 27.6863 58.6439 28.0306 58.1629C28.3749 57.6819 28.5481 57.0994 28.5225 56.5085C28.4969 55.9175 28.274 55.3522 27.8895 54.9028C27.5049 54.4533 26.9808 54.1457 26.4009 54.0291C22.6131 53.2711 19.1335 51.4113 16.3987 48.6831C13.6639 45.9549 11.7958 42.4798 11.0287 38.6938C13.2759 39.4226 15.6152 39.8288 17.9766 39.9003C18.5584 39.9434 19.137 39.7819 19.6123 39.4437C20.0877 39.1056 20.43 38.612 20.5801 38.0482C20.753 37.501 20.7432 36.9124 20.5523 36.3712C20.3614 35.83 19.9997 35.3655 19.5218 35.0479C16.8296 33.2559 14.6238 30.8242 13.1019 27.9706C11.58 25.1171 10.7895 21.9306 10.8011 18.6966C10.8011 16.5112 11.1557 14.3416 11.8594 12.2778C23.5912 24.9462 39.8068 32.5318 57.0503 33.418C57.4623 33.4621 57.8786 33.3979 58.2582 33.2318C58.6377 33.0656 58.9674 32.8034 59.2146 32.4708C59.477 32.1563 59.6628 31.7852 59.7574 31.3867C59.852 30.9882 59.8527 30.5731 59.7596 30.1742C59.4103 28.7147 59.2328 27.2194 59.2304 25.7187C59.236 20.493 61.3137 15.4828 65.0078 11.7867C68.7019 8.09064 73.711 6.01031 78.9366 6.00191C81.6283 5.99425 84.2924 6.54471 86.7606 7.61853C89.2289 8.69236 91.4477 10.2662 93.277 12.2408C93.5843 12.5685 93.97 12.8124 94.3978 12.9495C94.8256 13.0865 95.2813 13.1121 95.7218 13.0239C99.4769 12.2846 103.128 11.0923 106.596 9.47324C105.695 14.8671 103.123 19.8401 99.2354 23.6867Z" fill="white")

      .home__footer 
        .home__footer__wrapper 
          p.home_footer__text (C) Inspires, 2023. All Rights Reserved.

