extends ../base.pug 

block variables
  - var template = "home"

block content 
  main.home
    .home__wrapper

      .home__header 
        .home__header__wrapper 
          figure.home__header__icon
            img(src="images/logo.svg", alt="", srcset="")

      .home__hero
        .home__hero__wrapper
          h1.home__hero__title INSPIRES

      .home__body
        .home__body__wrapper

          .home__body__segment
            h3.home__body__title
              | a partner for creators to unleash their full potential.
            p.home__body__text 
              | Get ready to ignite your creativity and inspire the world with your content! At Inspires, we are EXCITED to support you on your journey to greatness. With our unbeatable combination of cutting-edge technology and expert marketing strategies, you'll have everything you need to reach your full potential and inspire others with your content like never before!
            figure.home__body__media 
              img(src="images/img1.png", alt="")
            figure.home__body__media 
              img(src="images/img2.png", alt="")
            figure.home__body__media
              img(src="images/img3.png", alt="")
            svg.home__body__thread(width="760" height="845" viewBox="0 0 760 845" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M3 3C83.3141 3 166.118 4.15244 237.667 45.8889C270.832 65.2355 302.38 93.8706 315.444 131C327.91 166.428 320.598 205.734 328.778 242.111C344.413 311.645 411.81 350.37 473 302.778C532.639 256.392 588.886 164.168 601.222 88.7778C612.589 19.3162 518.943 36.7814 479.667 55.8889C417.793 85.9896 407.707 152.449 407 215C406.423 266.081 395.456 340.952 428.111 384.778C473.386 445.542 553.572 458.347 622.778 469.222C742.838 488.089 764.27 653.13 755 752.778C751.104 794.655 742.502 819.593 703.222 836.778C674.42 849.379 631.871 835 603 835" stroke="#DDD100" stroke-width="5" stroke-linecap="round")
            svg.home__body__directive(width="129" height="129" viewBox="0 0 129 129" fill="none" xmlns="http://www.w3.org/2000/svg")
              circle(cx="64.1864" cy="64.3555" r="44.8304" transform="rotate(135 64.1864 64.3555)" stroke="#DDD100" stroke-width="0.948792")
              circle(cx="64.1864" cy="64.02" r="31.3101" transform="rotate(135 64.1864 64.02)" stroke="#DDD100" stroke-width="0.948792")
              g(clip-path="url(#clip0_10_93)")
                path(d="M77.6504 64.02L75.4217 61.7914L65.8496 71.3635L65.8496 49.9906H62.7071L62.7071 71.3635L53.135 61.7914L50.9063 64.02L64.2784 77.392L77.6504 64.02Z" fill="white")
              defs
                clipPath(id="clip0_10_93")
                  rect(width="37.8218" height="37.8218" fill="white" transform="translate(91.0223 64.02) rotate(135)")



          .home__body__segment
            p.home__body__pre OUR VISION
            h3.home__body__title
              | Shaping the Future of Content Creation
            p.home__body__text 
              | Our vision is to revolutionize the way creators approach content creation, by providing them with the resources they need to succeed and make their mark on the world. We are dedicated to staying at the forefront of the industry, and to constantly improving our services so that we can help creators achieve their goals and inspire others with their work.
            figure.home__body__media 
              img(src="images/img4.png", alt="")
            figure.home__body__media 
              img(src="images/img5.png", alt="")
            svg.home__body__thread(width="463" height="608" viewBox="0 0 463 608" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M282.26 2.58594C250.989 4.67067 223.058 26.7522 200.755 46.9424C162.848 81.2575 130.148 124.288 120.728 175.576C98.1052 298.745 260.555 304.484 343.62 323.986C382.456 333.104 424.887 346.638 447.118 382.573C464.069 409.973 464.666 445.618 448.781 473.504C400.702 557.911 294.514 578.112 206.484 578.112C154.816 578.112 104.161 570.56 54.3782 581.623C38.1358 585.233 17.3841 597.44 2.81372 604.725" stroke="#DDD100" stroke-width="5" stroke-linecap="round")

          .home__body__segment
            p.home__body__pre OUR MISSION
            h3.home__body__title
              | Empowering Creators to Inspire the World
            p.home__body__text 
              span 
                | At Inspires, our mission is to empower creators to reach their full potential and 
              span inspire 
              span 
                | the world with their unique content. We believe that everyone has the power to create something truly special and impactful, and we are dedicated to providing the tools and support needed to bring those creative visions to life.
            figure.home__body__media
              img(src="images/img6.png", alt="")

      .home__services
        .home__services__wrapper 
          h2.home__services__title OUR SERVICES

          .home__services__grid
            .home__service
              b.home__service__icon 📝
              h4.home__service__title Lead Funnels
              p.home__service__text
                | Attract and convert more leads into paying customers with our proven strategies.
            .home__service
              b.home__service__icon 🤖
              h4.home__service__title Course Management/ Automation
              p.home__service__text
                | Effortlessly create and manage your content with our advanced tools and resources.
            .home__service
              b.home__service__icon 🤝
              h4.home__service__title Networking Development
              p.home__service__text
                | Build meaningful connections with other creators and grow your brand.
            .home__service
              b.home__service__icon 🤑
              h4.home__service__title Luxury Content
              p.home__service__text
                | Create content that sets you apart from the competition and resonates with your audience.
            .home__service
              b.home__service__icon 👩🏾‍💻
              h4.home__service__title Lead Website Creation
              p.home__service__text
                | Get a website that not only looks great, but also drives sales.
            .home__service
              b.home__service__icon 💬
              h4.home__service__title Sales/DM Management
              p.home__service__text
                | Manage your sales and DMs with ease using our streamlined tools and expert resources.
            .home__service
              b.home__service__icon 👥
              h4.home__service__title TikTok Brand Building
              p.home__service__text
                | Elevate your TikTok presence with our comprehensive brand building services.
          
      .home__outro 
        .home__outro__wrapper 
          h3.home__outro__title
            span GET 
            span IN 
            span TOUCH 
          p.home__outro__text Have a question or want to learn more about how Inspires can help you reach your goals? We'd love to hear from you!
          svg.home__outro__thread(width="285" height="388" viewBox="0 0 285 388" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M282.501 245.751C269.357 243.361 255.43 230.459 244.306 223.876C219.485 209.185 193.571 195.693 172.258 175.959C150.643 155.945 206.333 164.5 218.612 164.5C222.309 164.5 231.993 166.344 224.167 163.111C190.268 149.11 162.696 125.08 133.542 103.389C60.2139 48.8328 -12.2314 6.03342 -105 2" stroke="#DDD100" stroke-width="3" stroke-linecap="round")
            path(d="M-67.4999 383.251C-70.9576 379.793 -66.2301 382.787 -63.6805 383.251C-42.9136 387.026 -21.9965 386.683 -2.04839 379.084C21.357 370.168 40.1943 353.457 59.2365 337.764C72.2209 327.064 86.2897 312.764 104.375 312.764C138.674 312.764 155.86 354.431 191.355 354.431C214.942 354.431 232.455 322.18 248.126 308.25" stroke="white" stroke-width="3" stroke-linecap="round")
          svg.home__outro__thread(width="280" height="688" viewBox="0 0 280 688" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M3 383.251C50.9935 352.287 97.2755 318.599 143.973 285.681C149.057 282.097 162.906 268.622 170.361 269.014C171.858 269.093 174.046 286.612 174.875 288.806C193.234 337.404 262.435 244.177 273.14 231.167C316.785 178.121 359.351 123.763 410.987 78.0418C457.766 36.6215 503.712 18.5791 562.376 2" stroke="white" stroke-width="3" stroke-linecap="round")
            path(d="M2 486C35.5028 486 68.0446 485.888 99.9169 497.806C108.968 501.19 120.048 504.986 125.091 513.951C126.632 516.692 123.516 521.582 126.132 523.327C133.759 528.411 163.811 523.465 171.792 523.5C211.382 523.674 251.875 523.338 290.369 533.917C329.998 544.807 361.988 568.915 394.015 593.639C436.366 626.334 479.035 656.854 523.876 686.001" stroke="#DDD100" stroke-width="3" stroke-linecap="round")
          ul.home__outro__icons 
            li.home__outro__icon 
              a.home__outro__link(href="") 
                figure.home__outro__media
                  img(src="images/instagram.svg", alt="")
            li.home__outro__icon 
              a.home__outro__link(href="") 
                figure.home__outro__media
                  img(src="images/telegram.svg", alt="")
            li.home__outro__icon 
              a.home__outro__link(href="") 
                figure.home__outro__media
                  img(src="images/twitter.svg", alt="")

      .home__footer 
        .home__footer__wrapper 
          p.home_footer__text (C) Inspires, 2023. All Rights Reserved.

