.home__outro {
  margin-top: 128.6rem;
  position: relative;

  @include media("<phone") {
    margin-top: 4.5rem;
  }
}

.home__outro__wrapper {}

.home__outro__title {
  @extend %h2;
  text-align: center;

  span:nth-of-type(2) {
    color: $color-yellow;

    @include media("<phone") {
      color: unset;
    }
  }
}

.home__outro__text {
  @extend %text;
  text-align: center;
  width: 88.3rem;
  margin: 3.7rem auto 0;

  @include media("<phone") {
    width: 28.5rem;
    margin-top: 2.3rem;
  }
}

.home__outro__thread {
  position: absolute;

  &:nth-of-type(1) {
    top: -17.1rem;
    width: 38.75rem;
    height: 38.36rem;
    left: -10.5rem;

    @include media("<phone") {
      width: 8.6rem;
      height: 8.514rem;
      left: -2.3rem;
      top: -2.1rem;
    }
  }

  &:nth-of-type(2) {
    top: -33rem;
    width: 56.038rem;
    height: 68.4rem;
    // left: 123.4rem;
    left: 109rem;

    @include media("<phone") {
      width: 16.4rem;
      height: 20.018rem;
      top: -9.4rem;
      left: 30.5rem;
    }
  }
}

.home__outro__icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7rem;
  width: 52.1rem;
  margin: 0 auto;
  margin-top: 4.5rem;
  margin-bottom: 6rem;
  align-items: center;

  @include media("<phone") {
    width: 16.3rem;
    gap: 2.8rem;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
  }
}

.home__outro__icon {
  &:nth-of-type(1) {
    --width: 9.723rem;
    // --color: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%)
    --stroke: #fd1d1d;
    --fill: #405de6;
    --stroke: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    --stroke: url(#rg);
    --fill: url(#rg);
    --bg: 833ab4;
  }

  &:nth-of-type(2) {
    --fill: #0088cc;
    --stroke: #0088cc;
  }

  &:nth-of-type(3) {
    --fill: #1da1f2;
    --stroke: #1da1f2;
  }

  &:hover {
    --bg: black filter: drop-shadow(0.2rem 0.4rem 0.6rem var(--bg));
  }
}

.home__outro__link {
  --width: 11.14rem;

  @include media("<phone") {
    --width: 3.042rem;
  }


}

.home__outro__media {
  position: relative;
  display: flex;
  margin-bottom: var(--width);
  // --color: #0088cc;

}

.home__outro__svg {
  width: var(--width);
  height: var(--width);
  margin: 0 auto;
  position: absolute;

  &:nth-of-type(2) {
    opacity: 0;
    transition: 0.35s $ease-out-expo;

    path {
      fill: var(--fill);
      stroke: var(--stroke);
    }

    &:hover {
      opacity: 1;
    }
  }

}

.home__outro__buttons {
  margin-top: 3.7rem;
  display: grid;
  gap: 2.5rem;

  @include media("<phone") {
    margin-top: 2.35rem;
    gap: 1rem;
  }

  button {
    margin: 0 auto;
    width: 38.8rem;
    height: 6.6rem;
    background: #333333;
    border-radius: 3rem;
    color: white;
    border: 0.2rem solid #333333;
    cursor: pointer;
    transition: $ease-out-expo 0.35s;

    @include media("<phone") {
      width: 35.2rem;
      height: 5.5rem;
    }
  }

  button:hover {
    background: #212121;
  }
}

.home__outro__pricing {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 101.5%;
  text-transform: uppercase;

  @include media("<phone") {
    font-size: 3.2rem;
  }
}

.home__outro__try {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 101.5%;
  letter-spacing: 0.15rem;

  @include media("<phone") {
    font-size: 1.4rem;
  }
}

.home__footer {
  border-top: 0.03rem solid #505050;
  padding-top: 3.9rem;

  @include media("<phone") {
    margin: 0 3.2rem 0 3.3rem;
    padding-top: 2.5rem;
  }
}

.home__footer__wrapper {}

.home_footer__text {
  @extend %text-xs;
  text-align: center;
  padding-bottom: 4.7rem;

  @include media("<phone") {
    font-size: 1.2rem;
    padding-bottom: 3.2rem;
  }
}